# cache files
__pycache__

# environment / configuration files
.env
.flaskenv
/data/data.json
/data/sources.json
/tests/data/data-ok.json
/tests/data/data-invalid-wms.json
/provisioning/docker/sources.json

# provisioning files
provisioning/terraform/.terraform

# packaging files
dist

# test runner files
.coverage
htmlcov
