airtable-python-wrapper==0.12.0
bandit==1.6.2
Flask==1.1.1
Flask-DotEnv==0.1.2
flake8==3.7.9
geoserver-restconfig==1.0.2
OWSlib==0.19.0
pytest==5.3.0
pytest-flask==0.15.0
setuptools==41.6.0
twine==3.0.0
ulid-py==0.0.9
wheel==0.33.6
